header  {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-direction: row;
}

header .logo {
    height: 4rem;
}

header a {
    font-size: 0.8rem;
}

header i {
    font-size: 1.5rem;
}

header nav, header .header-container div {
    display: flex;
    gap: 1rem;
}