main section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.4rem;
}

main section.home {
    background-image: url("../Starterkit/images/home-img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Or ":nth-child(n+2)"*/
main section:not(:first-of-type) {
    padding: 0 4rem;
}

main p {
    font-weight: 200;
    -webkit-text-stroke: 0.2px var(--main-color);
}

main section.home div {
    padding: 6rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 600px;
}

main a {
    background-color: var(--main-color);
    padding: 0.3rem 1rem;
}

.gray-bg {
    background-color: var(--black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.about-img {
    height: auto;
    width: calc(50vw - 4rem);
}

.about-us h2 {
    margin: 2rem auto;
}

.section-container {
    display: flex;
    height: 40vh;
}

.box {
    height: 100%
}